<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SuperScreenShotterVR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SuperScreenShotterVR.Properties.Settings>
            <setting name="SuperSampling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CaptureTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Notifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Thumbnail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Audio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomAudio" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplaceShortcut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LaunchMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubmitToSteam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>v0.30</value>
            </setting>
            <setting name="ViewFinder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayDistance" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="OverlayOpacity" serializeAs="String">
                <value>1</value>
            </setting>
        </SuperScreenShotterVR.Properties.Settings>
    </userSettings>
</configuration>