<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SuperScreenShotterVR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SuperScreenShotterVR.Properties.Settings>
            <setting name="CaptureTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Notifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Thumbnail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Audio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomAudio" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplaceShortcut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LaunchMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubmitToSteam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewFinder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayDistance" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="OverlayOpacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OverlayDistanceGui" serializeAs="String">
                <value>31.0723248</value>
            </setting>
            <setting name="ReticleSize" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ExitWithSteamVR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveRightImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyScreenshot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HotkeyViewfinder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HotkeysEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyScreenshotAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyScreenshotControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyScreenshotShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyViewfinderAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyViewfinderControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyViewfinderShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DelaySeconds" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DelayCapture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TransmitAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResponseResolution" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>8807</value>
            </setting>
        </SuperScreenShotterVR.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>